<% if current_user.present? %>
	<h1><%= "Здравствуйте, #{current_user.login}" %></h1>

	<p><%= link_to "К задаче", automorphic_input_path %></p>

	<p><%= button_to "Выйти из аккаунта", session_path, method: :delete %></p>
<% else %>
	<h1>Войдите в аккаунт или зарегистрируйтесь</h1>
	<p><%= link_to 'Войти в аккаунт', new_session_path %></p> 
	<p><%= link_to 'Регистрация', new_user_path %></p>
<% end %>

